{% extends 'base.html.twig' %}

{% block main %}
    <div class="jumbotron">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores labore molestias nesciunt tenetur. Aliquid consectetur consequuntur cupiditate odio. Beatae dignissimos doloremque dolorum ducimus error maxime numquam reprehenderit similique sit vero?
    </div>
    
{% endblock %}

